<ion-view view-title="Map">
	<ion-content class="padding">
		<div id="map" leaflet-map>
		</div>

		<div class="map_bottom-actions" ng-if="vm.admin">
			<button class="button button-positive" ng-click="vm.showCrosshair()" ng-if="!vm.crosshair">
				Marker toevoegen
			</button>
			<button class="button button-balanced" ng-click="vm.openAddMarkerView()"  ng-if="vm.crosshair">
				Plaatsen
			</button>

		</div>
		<div class="map_crosshair" ng-if="vm.crosshair">
		</div>
	</ion-content>
</ion-view>
