<ion-view view-title="Marker">
	<ion-content class="marker-content">

		<div class="card">
			<div class="item item-text-wrap" ng-bind-template="TITLE: {{vm.marker.title}}">
			</div>
		</div>

		<div class="card">
			<div class="item item-text-wrap" ng-bind-template="DETAILS: {{vm.marker.details}}">
			</div>
		</div>

		<div class="card">
			<div class="item item-text-wrap" ng-bind-template="QUEST: {{vm.marker.quest}}">
			</div>
		</div>

		<button ng-show="vm.distance < 10000" fileupload class="file-upload">
			<span>Upload</span>
			<input type="file" class="upload"/>
		</button>

        <ol>
            <li ng-repeat="img in vm.images">
                <img ng-src="{{img}}">
            </li>
        </ol>

		<a class="button button-balanced button-block"
						ng-href="http://maps.google.com/?saddr={{vm.dep.lat}},{{vm.dep.lng}}&daddr={{vm.dest.lat}},{{vm.dest.lng}}">

			<span>Google maps</span>
		</a>


	</ion-content>
</ion-view>

