<ion-view view-title="Addmarker">
	<ion-content>
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="Title">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Quest">
			</label>
		</div>


		<div class="list">
		  <div class="item range range-positive">
		    <i class="icon ion-ios7-sunny-outline"></i>
		    <input type="range" name="volume" min="0" max="100" value="33">
		    <i class="icon ion-ios7-sunny"></i>
		  </div>
		</div>

		<button class="button button-balanced button-block" ng-click="vm.addMarker()">
			Plaats marker
		</button>
	</ion-content>
</ion-view>

